<section class="row">
  <article class="column">
    <h2>Events</h2>
    <ul class="events-list">
      <%= for event <- @events do %>
        <%= render(NaiveDiceWeb.EventView, "_event.html", event: event, conn: @conn) %>
      <% end %>
    </ul>
  </article>
</section>
